<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--contact"
%}

  {% dnd_section
    padding={
      "top": 0,
      "bottom": 0,
      "left": 0,
      "right": 0
    }
  %}
    {% dnd_module path="../modules/contact_booking.module"
      label="Contact Booking Hero"
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
